# Important Requirements here.

https://github.com/ufoptg/Telethon/archive/refs/tags/NimbusV6.4.zip
python-decouple
python-dotenv
pyshorteners
google-search-results
motor
pydantic
aiofiles
git+https://github.com/ufoptg/pytgcalls.git@master
